@using Chatroom.Models.ViewModels;
@model MegaViewModel;
@{
    ViewData["Title"] = "Hoofdscherm";
    Layout = "_Mainscreen";
}

<div class="side-column">
    <div class="user-details" id="currentUserBar" data-currentuser="@Model.UserViewModel.Id">
        @{
            if (Model.UserViewModel.ProfilePicture == "")
            {
                Model.UserViewModel.ProfilePicture = "/img/placeholders/user.svg";
            }
        }
        <img class="image-current-user" src="@Model.UserViewModel.ProfilePicture" alt=""/>
        <div class="right-side">
            <h3 class="username-current-user">@Model.UserViewModel.Username</h3>
            <p class="email-current-user">@Model.UserViewModel.Email</p>
            <p class="status-current-user">@Model.UserViewModel.Status</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="top-config-bar">
        <button class="no-style-button enter-chatroom">
            <img src="~/img/placeholders/login.svg"/><span>Chatroom binnengaan</span>
        </button>
    </div>
    <div class="chatroom-list">
        <ul>
            <li class="chatroom-list-item">
                <img class="chatroom-list-image" alt="" src="~/img/placeholders/group.svg"/>
                <div class="chatroom-flexbox">
                    <h3>Chatroomnaam</h3>
                    <p>Dit is een preview van een bericht...</p>
                </div>
            </li>
            @{
                foreach (ChatroomViewModel room in Model.ContainerViewModel.Rooms)
                {
                    if (room.ProfilePicture == "")
                    {
                        room.ProfilePicture = "/img/placeholders/group.svg";
                    }
                    <li class="chatroom-list-item" data-roomid="@room.Id" onclick="ChangeChatDisplay(this.dataset.roomid)">
                        <img class="chatroom-list-image" alt="" src="@room.ProfilePicture"/>
                        <div class="chatroom-flexbox">
                            <h3>@room.Name</h3>
                            <p>@room.NiceName</p>
                        </div>
                    </li>
                }
            }
            <li class="chatroom-such-empty">
                <img src="~/img/placeholders/such-empty-2.svg"/>
                <p>Wow, such empty</p>
            </li>
        </ul>
    </div>
    <div class="bottom-config-bar">
        <button class="no-style-button settings-button" title="Instellingen">
            <img src="~/img/placeholders/gear.svg" alt="Instellingen knop"/>
        </button>
        <button class="no-style-button logout-button" title="Uitloggen">
            <img src="~/img/placeholders/logout.svg" alt="Uitloggen knop"/>
        </button>
        <button class="no-style-button add-room-button" title="Chatroom aanmaken">
            <img src="~/img/placeholders/add.svg" alt="Chatroom toevoegen"/><span>Chatroom toevoegen</span>
        </button>
    </div>
</div>
<div class="main-content">
    <div class="chatroom-details"></div>
    <div class="chatroom-top-bar">
        <button class="chatroom-info-button no-style-button">
            <img src="~/img/placeholders/more.svg" alt="Chatroom instellingen knop"/>
        </button>
        <h1>Voorbeeld naam</h1>
    </div>
    <div class="chatroom-message-area">
        <ul>
            <li class="placeholder-message current-user message-bubble"></li>
            <div class="clearfix"></div>
            <li class="placeholder-message message-bubble"></li>
            <li class="placeholder-message message-bubble"></li>
            <li class="placeholder-message current-user message-bubble"></li>
            <div class="clearfix"></div>
            <li class="placeholder-message message-bubble"></li>
            <li class="placeholder-message current-user message-bubble"></li>
            <div class="clearfix"></div>
            <li class="placeholder-message message-bubble"></li>
            <li class="placeholder-message current-user message-bubble"></li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div class="chatroom-construct-area">
        <button class="no-style-button filler-button"></button>
        <button class="no-style-button filler-button"></button>
        <textarea class="message-area"></textarea>
        <button class="send-message-button no-style-button">
            <img alt="Versturen knop" src="~/img/placeholders/send-button.svg"/>
        </button>
    </div>
</div>
<div class="ofscreen-areas">
    <div class="create-chatroom-area"></div>
    <div class="join-chatroom-area"></div>
    <div class="edit-personal-details-area"></div>
    <div class="leave-chatroom-area"></div>
</div>
<script type="text/javascript">
function ChangeChatDisplay(RoomId) {
    //create AJAX call to check access
    console.log(RoomId);
    let userID = document.getElementById("currentUserBar").dataset.currentuser;
    let url = '@Url.Action("CheckAccessToChatroom", "Chat")?givenRoomId=' + RoomId + '&givenUserId=' + userID;
    $.ajax({
        method: "POST",
        url: url,
        data: {givenRoomId: RoomId, givenUserId: 1},
        datatype: "text",
        beforeSend: function () {
            console.log("Versturen...")
        },
        complete: function (response) {
            console.log(response);
            if(response.responseText === "true"){
                alert("U heeft toegang tot deze chatroom.");
        } else {
                alert("U heeft geen toegang tot deze chatroom.");
        }
        },
        error: function(msg) {
            console.log(msg);
            alert("Er is een fout opgetreden tijdens uw verzoek. Probeer het nog een keer.")
        }
    })
}
</script>